.section-testimonials {
    @include mobile {
        padding: 3rem 0 !important;
    }


    .section-title {
        text-align: center;
    }

    .testimonials-carousel {
        @include mobile {
            min-height: 500px;
        }


        &-item {
            &-image {
                @extend .mb-3, .rounded-circle;

                display: block;
                margin-left: auto;
                margin-right: auto;
                height: 150px;
                width: 150px;
                background-color: #ccc;
            }
        }

        .carousel-control-prev,
        .carousel-control-next {
            @include mobile {
                display: none;
            }
        }
    }
}
