/**
 *
 * @author      _a
 * @version     0.1.0
 * @since       _s_1.0.0.0
 *
 */

/*==================================================================================
  GENERAL
==================================================================================*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    -webkit-tap-highlight-color: transparent;
}

html {
    max-width: 100vw;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: $text-ff;
    font-size: $base_size; // only used for rem-handling, the actual font-size is $body__fontsize
    color: $html__textcolor;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    // used as wrapper for sticky footer
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: $html__bgcolor !important;
    font-size: $text-fz;
    font-weight: $text-fw;
    color: $text-c;
    line-height: $text-lh;
}

a {
    color: $a__linkcolor;
    text-decoration: $a__textdecoration;
    transition: $transition_fast;

    &:hover {
        color: $a__hovercolor;
    }
}

header {
    margin-top: $header_height;
}

:focus {
    outline: 0;
}

/*=============================================
=            HEADINGS                         =
=============================================*/

h1 {
    @include heading-size(6);
}

h2 {
    @include heading-size(5);
}

h3 {
    @include heading-size(4);
}

h4 {
    @include heading-size(3);
}

h5 {
    @include heading-size(2);

    letter-spacing: 1px;
}

h6 {
    @include heading-size(1);

    letter-spacing: 1px;
}

/*=====  End of HEADINGS               ======*/

address {
    font-style: normal;
}

table {
    border-collapse: collapse;
}

/*==================================================================================
  PRESETS
==================================================================================*/

// defaut wowjs div
.wow {
    visibility: hidden;
}

// anchor div to fix .top overlap when navigation through 'domain.tld/#anchor'
.anchor {
    display: block;
    height: $header_height;
    margin-top: -$header_height; // negative top_height
}
