/* Note to myself: add Index like https://github.com/johnpitchko/johnpitchko-wp-theme/blob/master/style.css */
/**
 * Content CSS File
 * Contains all content related styles.
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       Stanlee 0.1.0.0
 *
 */

/*=======================================================
 Table of Contents:
 –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  1.0 GENERAL
  2.0 HEADER
  3.0 HEADINGS & PARAGRAPHS
  4.0 PAGES
  5.0 FOOTER
  =======================================================*/

@import "vars";

/*==================================================================================
  1.0 GENERAL
==================================================================================*/

main {
    position: relative;
    margin-top: $header_height;

    article,
    .element {
        padding: 1rem 0;
    }
}

aside {
    position: relative;
    margin-top: $header_height;

    .widget {
        padding: 1rem 0;
        border-bottom: 1px solid $color-grey;

        .nav-link {
            padding: 0 0 0.5rem 0;
        }
    }
}

article,
.element,
nav,
footer .inner {
    // width: $element_width;
    //  max-width: $element_maxwidth;
    margin: 0 auto;

    @include mobile {
        width: $element_width_mobile;
    }
}

/*==================================================================================
  2.0 HEADER
==================================================================================*/

/*==================================================================================
  3.0 HEADINGS & PARAGRAPHS
==================================================================================*/

/*==================================================================================
  4.0 PAGES
==================================================================================*/

/* PAGE
/––––––––––––––––––––––––*/
//=> templates/wp-page.php
main#page {
    section {
        .element.teaser {
            width: 100vw;
            max-width: 100vw;
            height: 25rem;
            padding: 0;

            img,
            .modernizr-of {
                width: 100%;
                height: 100%;
                background-size: cover; // modernizr

                object-fit: cover;
            }
        }
    }
}

/* BLOG & POST
/––––––––––––––––––––––––*/
//=> templates/wp-home.php
//=> templates/wp-single.php

.postinfo {
    font-size: 0.7rem;
}

main#blog {
    section {
        article {
            img,
            .modernizr-of {
                width: 100%;
                height: 100%;
                background-size: cover;
                object-fit: cover;
            }
        }

        .pagination {
            justify-content: center;
        }
    }
}

main#post {
    section {
        article {
            img,
            .modernizr-of {
                max-width: 100%;

                // height: 20rem;
                background-size: cover; // modernizr
                object-fit: cover;
            }

            .postinfo {
                margin-bottom: .5rem;
            }

            dl,
            ol,
            ul {
                padding-left: 2rem;
            }

            h2 {
                @include heading-size(3);
            }

            h3 {
                @include heading-size(2);
            }

            h4 {
                @include heading-size(1);
            }
        }
    }
}

/* TEMPLATE - SUBSITES
/––––––––––––––––––––––––*/
//=> templates/subsites.php

main#subsites {
    section {
        .element.sites {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .site {
                flex-basis: calc((100% / 3) - 1rem);
                margin-bottom: 1rem;

                @include mobile {
                    flex-basis: 100%;
                }


                img,
                .modernizr-of {
                    width: 100%;
                    height: 5rem;
                    background-size: cover; // modernizr

                    object-fit: cover;
                }
            }
        }
    }
}

/* BLOCKS -
/––––––––––––––––––––––––*/

main#blocks {
    section {
        @extend .p-5;

        position: relative;

        .container {
            position: relative;
        }

        .section-title {
            @extend .mb-5;

            position: relative;
        }

        .section-background-image {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            filter: opacity(0.5);
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
            filter: alpha(opacity = 50);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &.bg-primary:not(.block-team) {
            .btn {
                @extend .btn-light; // Passer le bouton en blanc quand le fond est en couleur
           
            }

            a {
                color: #fff;

                &:hover {
                    opacity: .7;
                }
            }
        }

        &.block-services {
            &.bg-primary {
                .service-icon {
                    color: $color-primary-darker;
                }
            }

            .section-title {
                text-align: center;
            }

            .service {
                text-align: center;

                &-icon {
                    @extend .mb-2;

                    font-size: 50px;
                    color: $color-primary;
                }

                &-title {}

                &-text {}
            }
        }

        &.block-testimonials {
            .section-title {
                text-align: center;
            }

            .testimonials-carousel {
                &-item {
                    &-image {
                        @extend .mb-3, .rounded-circle;

                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        height: 150px;
                        width: 150px;
                        background-color: #ccc;
                    }
                }
            }
        }

        &.block-team {
            .section-title {
                text-align: center;
            }

            .team-member {
                margin-bottom: 30px;
                text-align: center;
                background-color: #fff;
                padding: 60px 30px;

                &-img {
                    @extend .mb-3, .rounded-circle;

                    height: 150px;
                    width: 150px;
                    background-color: #ccc;
                    margin-left: auto;
                    margin-right: auto;
                }

                &-name {}

                &-job {}

                &-desc {}

                &-rs {
                    li {
                        list-style: none;
                        display: inline-block;
                        font-size: 25px;

                        &:not(:last-child) {
                            // Ajouter une marge à droite sauf sur le dernier lien
                            @extend .mr-2;
                        }
                    }
                }
            }
        }

        &.block-stats {
            .section-title {
                text-align: center;
            }

            .circle-bar {
                margin-bottom: 30px;

                &-title {
                    text-align: center;
                }
            }

            .radial-progress {
                max-width: 200px;
                -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
                width: 100%;
                margin: auto;
                display: block;

                circle {
                    fill: transparent;
                    stroke: #fff;
                    stroke-dashoffset: 219.91148575129;
                    stroke-width: 2;
                    stroke: $color-primary;
                }

                .incomplete {
                    opacity: 0.25;
                }

                .complete {
                    stroke-dasharray: 219.91148575129;
                }

                text {
                    text-anchor: middle;
                    fill: $color-primary;
                }
            }
        }

        &.block-price {
            .price-column {
                &-wrapper {
                    background-color: #fff;
                    padding: 60px 30px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                }

                &-title {
                    text-align: center;
                }

                &-price {
                    text-align: center;
                    font-size: 2rem;
                    font-weight: bold;
                    color: $color-primary;
                }

                &-service {
                    @extend .pt-3, .pb-3;

                    list-style: none;
                    border-bottom: 1px solid #ccc;
                }

                &-btn {
                    margin-top: 10px;
                    display: block;
                }

                ul {
                    margin-bottom: auto;
                }
            }
        }

        &.block-logos {
            .section-title {
                text-align: center;
            }

            .logo {
                display: flex;
                align-items: center;
                height: 150px;

                img {
                    display: block;
                    margin: 0 auto;
                    max-height: 100%;
                }
            }
        }

        &.block-text-image {
            padding: 0 !important;

            &:nth-child(odd) {
                .row {
                    flex-direction: row-reverse;
                }
            }

            .row {
                min-height: 50vh;
                position: relative;
            }

            .block-text {
                display: flex;
                align-items: center;
                padding: 0 !important;

                div:not(.text) {
                    padding: 30px 45px;
                }
            }

            .block-image {
                padding: 0;

                .bg {
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &.block-gallery {
            a {
                width: 100%;
                display: block;

                img {
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
        }

        &.block-portfolio {
            img {
                @extend .mb-3;

                width: 100%;
            }
        }

        &.block-contact {
            .section-title {
                text-align: center;
            }

            .contact-infos {
                li {
                    list-style: none;
                    margin-bottom: 1rem;
                }

                &-rs {
                    li {
                        display: inline-block;
                        font-size: 1.5rem;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}

/*==================================================================================
  5.0 FOOTER
==================================================================================*/

.footer {
    width: 100vw;
    margin-top: auto;
    color: $color-grey;
    background: $color-dark;

    .widget-title {
        color: $color-grey1;
        margin-bottom: 1rem;
    }

    .nav {
        padding: 0;

        .nav-link {
            color: $color-light;
            padding: 0 0 0.5rem 0;
        }
    }

    .inner {
        padding: 1.5rem 0;
        font-size: 0.8rem;
    }

    .credits {
        background-color: $color-black;
        color: $color-grey2;
        text-align: center;

        a {
            color: $color-grey2;
        }
    }
}
