/*=============================================
=            Carousel                         =
=============================================*/

.carousel {
    padding: $header_height; // Empêcher le menu de passer au dessus du carousel quand on clique sur la flêche
    @include mobile {
        padding: $header_height 0 0 !important;
    }


    &-inner {
        width: 75% !important;
        margin: 0 auto;

        @include mobile {
            width: 100% !important;
        }
    }

    &-control-prev,
    &-control-next {
        top: $header_height; // Garde les flêches alignées au milieu
        color: $color-grey1 !important;

        @include mobile {
            color: #fff !important;
            top: 63% !important;
            bottom: inherit !important;
        }
    }
}

/*=====  End of Carousel               ======*/
