/*=============================================
=            Carousel                         =
=============================================*/

.carousel {
    min-height: 400px;
    padding: $header_height 0;

    &-inner {
        @extend .w-75, .m-auto;
    }

    &-control-prev, &-control-next {
        top: $header_height;
    }
}

/*=====  End of Carousel               ======*/
