.noscroll {
    overflow: hidden;
}

.dn {
    display: none !important;
}

.db {
    display: block !important;
}

.hidden {
    opacity: 0 !important;
    pointer-events: none !important;
}

.shown {
    opacity: 1 !important;
    pointer-events: all !important;
}
