/**
 *
 * @author      _a
 * @version     0.1.0
 * @since       _s_1.0.0.0
 *
 */

body {
    font-family: $text-ff;
    font-size: $text-fz;
    font-weight: $text-fw;
    color: $text-c;
    line-height: $text-lh;
}
