.section-link {
    background-color: #fff;

    .section-title {
        margin-bottom: 1rem !important;
        font-size: 1.6rem !important;
    }

    .btn {
        @extend .btn-primary;

        margin-top: 1rem;
    }
}

.bg-primary {
    .btn {
        @extend .btn-light;
    }
}
