.section-testimonials {
    @include breakpoint(mobile) {
        padding: 3rem 0 !important;
    }


    &__carousel {
        text-align: center;

        @include breakpoint(mobile) {
            min-height: 500px;
        }


        &_item {
            &-image {
                @extend .mb-3, .rounded-circle !optional;

                display: block;
                margin-left: auto;
                margin-right: auto;
                height: 150px;
                width: 150px;
                background-color: #ccc;
            }
        }

        .carousel-indicators {
            bottom: -25px;
            margin-bottom: 0;
        }

        .carousel-control-prev,
        .carousel-control-next {
            @include breakpoint(mobile) {
                display: none;
            }
        }
    }
}
