@import "../styles/_mixins.scss";
@import "../styles/_vars.scss";

body.login h1 a {
    background-image: url("assets/images/stanlee_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100%;
    background-size: contain;
    margin: 0 auto;
}

body {
    //background-color: $color-primary;
}
